@model HandleErrorInfo
@{
    ViewBag.Title = "Доступ запрещен";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h1>403</h1>
<h3 class="font-bold">Доступ запрещен</h3>
<div class="error-desc">
    @if (ViewBag.Debug != null && ViewBag.Debug && Model != null)
    {
        Html.RenderPartial("_DebugErrorPartial", Model);
    }
    else
    {
        <text>
            У Вас нет прав для просмотра запрашиваемой страницы.
            <a href="/" class="btn btn-primary btn-block m-t">Перейти на главную</a>
        </text>
    }
</div>
