@model HandleErrorInfo
@{
    ViewBag.Title = "Ошибка сервера";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h1>500</h1>
<h3 class="font-bold">Ошибка сервера</h3>
<div class="error-desc">
    @if (ViewBag.Debug != null && ViewBag.Debug && Model != null)
    {
        Html.RenderPartial("_DebugErrorPartial", Model);
    }
    else
    {
        <text>
            Ошибка сервера. Попробуйте повторить запрос позднее.
            <a href="/" class="btn btn-primary btn-block m-t">Перейти на главную</a>
        </text>
    }
</div>
