@model Example.DAL.Entities.ExampleUser


<hr/>
<br/><br/><br/><br/><br/>

<div class="row">

    <div class="col-md-12">
        @if (Model.Avatar != null)
        {
            <img src="@Url.Action("GetFile", "BinaryData", new { id = Model.Avatar.Id })"/>
        }
    </div>


    <div class="col-md-12">
        @using (Html.BeginForm("Avatar", "Profile", FormMethod.Post,
            new {enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <input type="file" name="Avatar"/>

            <input type="submit" value="Save" class="btn btn-primary"/>
        }
    </div>
</div>